/* ==========脚部分============== */
.footer{
    height: 145px;
    border-top: 2px solid #4ab14e;
    margin-top: 30px;
}
 
.footer .links{
    text-align: center;
    margin-top: 40px;
}
 
.footer .links a{
    color: #4e4e4e;
}
 
.footer .links a:hover{
    color: #f80;
}
 
.footer .links span{
    color: #4e4e4e;
    margin: 0 10px;
}
 
.footer p{
    text-align: center;
    line-height: 27px;
    color: #4e4e4e;
    margin-top: 10px;
}
 .go-back{
     background: url("../imgs/goback.jpg");
 }